@media (max-width: 1050px) {
  .alphabet {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 650px) {
  .alphabet {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 450px) {
  .alphabet {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 350px) {
  .alphabet {
    grid-template-columns: repeat(1, 1fr);
  }
}
